body {
    background-color: #f8f9fa;
    font-family: "League Spartan", sans-serif;
    color: #333;
}

.logo-container {
    text-align: center;
    margin-bottom: 40px;
}
.logo-container img {
    width: 255px;
}

h2 {
    font-size: 2.5em;
    color: #0271de;
    display: inline-block;
}

.modal-button {
    display: inline-block;
    float: right;
    margin-left: 10px;
}

.table {
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table th, .table td {
    vertical-align: middle;
    text-align: center;
}

.fas.fa-calendar-alt {
    color: #ffffff;
    padding-right: 5px;
    padding-left: 5px;
}

.fas.fa-calendar-alt:hover {
    color: #025f9c;
}

.modal-header {
    background-color: #0271de;
    color: white;
}

.modal-footer button {
    border-radius: 5px;
}

#messageArea {
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

#messageArea.success {
    background-color: #d4edda;
    color: #155724;
}

#messageArea.error {
    background-color: #f8d7da;
    color: #721c24;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #aaa;
}

.time-fields {
    display: flex;
    justify-content: space-between;
}

.time-fields .form-group {
    flex: 1;
    margin-right: 10px;
}

.time-fields .form-group:last-child {
    margin-right: 0;
}
