.logo {
  display: block;
  margin: 0 auto;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.table-container {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #0271de;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f1f1f1;
}

.btn-primary {
  background-color: #0271de;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn-primary:hover {
  background-color: #025bb5;
}

#btnlogin {
  position: unset; 
}

#btnreserve {
  position: unset;
  margin-left: 45%;
}

#btnsubmit {
  margin-left: 180px;
  margin-bottom: 1rem;
}

#x {
  position: absolute;
  margin-left: 219px;
  margin-top: -22px;
}

#modalbody {
  width: 75%;
  margin-left: 70px;
}

/* Estilo para a div principal */
.main-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
  min-height: 80vh;
  padding: 20px;
  box-sizing: border-box;
}

.custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-modal {
  position: relative;
  background: white;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  padding: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0271de;
  color: white;
  padding: 15px;
  border-radius: 8px 8px 0 0;
  box-sizing: border-box;
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
  overflow: hidden;
}

.close {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-modal .content {
  padding: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the children horizontally */
}

.form-group {
  width: 100%; /* Ensure input fields take full width */
  margin-bottom: 15px; /* Add some space between fields */
}

.btn-primary login-button {
  width: 100%; /* Make the button take full width */
  max-width: 200px; /* Optional: Set a max width for the button */
  margin-top: 10px; /* Add some space above the button */
  align-self: center; /* Center the button within the form */
}
